!!! 5
%html
  %head
    %title Markdown-shelf

    - if content_for?(:stylesheet)
      = yield(:stylesheet)
    - else
      = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true

    - if content_for?(:javascript)
      = yield(:javascript)
    - else
      = javascript_include_tag "application", "data-turbolinks-track" => true

    = csrf_meta_tags

  %body
    .container-fluid
      = content_for?(:container) ? yield(:container) : yield
    #loading.loading
